@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 38 43% 94%;
    --foreground: 0 0% 29%;
    --card: 38 43% 94%;
    --card-foreground: 0 0% 29%;
    --popover: 38 43% 94%;
    --popover-foreground: 0 0% 29%;
    --primary: 21 61% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 36% 64%;
    --secondary-foreground: 0 0% 29%;
    --muted: 30 36% 64%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 81 11% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 83%;
    --input: 0 0% 83%;
    --ring: 21 61% 59%;
    --chart-1: 21 61% 59%;
    --chart-2: 81 11% 57%;
    --chart-3: 30 36% 64%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 95%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 95%;
    --primary: 21 61% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 36% 64%;
    --secondary-foreground: 0 0% 95%;
    --muted: 30 36% 64%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 81 11% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 21 61% 59%;
    --chart-1: 21 61% 59%;
    --chart-2: 81 11% 57%;
    --chart-3: 30 36% 64%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
